@namespace TwitterCodingChallenge.Pages.List
@page "/profile"
@page "/"

<PageContainer Title="Tweets">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>Home</BreadcrumbItem>
            <BreadcrumbItem>Tweets</BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>
    <Content>
        <div class="pageHeaderContent__b__1">
        </div>
    </Content>
    <ChildContent>
        <Comment Avatar="@(@"https://pbs.twimg.com/profile_images/1383184766959120385/MM9DHPWC_400x400.jpg")">
            <ContentTemplate>
                @GetEditor(OnSubmit)
            </ContentTemplate>
        </Comment>
        <div class="cardList">
            <AntList TItem="TweetItem"
                     DataSource="_data"
                     ItemLayout="ListItemLayout.Horizontal"
                     Grid="_listGridType"
                     >
                <ListItem Grid="_listGridType">
                    <Card Hoverable Bordered Class="card">
                        <ChildContent>
                            <CardMeta>
                                <AvatarTemplate>
                                    <img alt="" class="cardAvatar" src="@context.ProfileImage" />
                                </AvatarTemplate>
                                <TitleTemplate>
                                    <a>@context.Name</a>
                                    <Text Disabled>@context.CreatedAt.ToString("HH:mm dd MMM")</Text>
                                </TitleTemplate>
                                <DescriptionTemplate>
                                    <Paragraph class="item" Ellipsis>
                                        @context.Content
                                    </Paragraph>
                                    @if (context.ParentTweetId != Guid.Empty)
                                    {
                                        var parentTw = this._data.First(x => x.Id == context.ParentTweetId);
                                        <Card Bordered Class="card" >
                                            <CardMeta>
                                                <AvatarTemplate>
                                                    <img alt="" class="cardAvatar" src="@parentTw.ProfileImage" />
                                                </AvatarTemplate>
                                                <TitleTemplate>
                                                    <a>@parentTw.Name</a>
                                                    <Text Disabled>@parentTw.CreatedAt.ToString("HH:mm dd MMM")</Text>
                                                </TitleTemplate>
                                                <DescriptionTemplate>
                                                    @parentTw.Content
                                                </DescriptionTemplate>
                                            </CardMeta>
                                        </Card>
                                    }
                                </DescriptionTemplate>
                            </CardMeta>
                        </ChildContent>
                        <ActionTemplate>
                            <CardAction><Icon Type="retweet" OnClick="@(()=> OnRetweetClick(context))" /> <span>@context.RetweetCount</span></CardAction>
                            <CardAction><Icon Type="comment" OnClick="@(()=> OnCommentClick(context))" /></CardAction>
                        </ActionTemplate>
                    </Card>
                </ListItem>
            </AntList>
        </div>
    </ChildContent>
</PageContainer>

@code
{
    private static readonly RenderFragment Operate = @<a key="option1">Retweet</a>;

    private readonly RenderFragment[] _actions =
    {
            Operate,
            @<a key="option2">Comment</a>,
    };

    RenderFragment GetEditor(Action onSubmit)
    {
        return
            @<div>
                <TextArea MinRows="4" @bind-Value="@_value" Placeholder="What's happening?"/>
                <br/>
                <br/>
                <Button Loading="@submitting" OnClick="OnSubmit " type="primary">
                    Tweet
                </Button>
            </div>;
    }
}
